<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>Document</title>

    <style>
        .tarjetas {
            display: grid;
            grid-template-columns: repeat(4, auto);
            text-align: center;
            column-gap: 60px;
            justify-content: center;
        }
    </style>
</head>

<body>
    <!-- Barra de navegación  -->
    <div class="barra-navegación">
        <nav class="navbar navbar-expand-lg bg-light ">
            <div class="container-fluid p-3 mb-2 bg-success text-white">
                <a class="navbar-brand" href="#">IESS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Institución</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Afiliación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Afiliado
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">Empleador</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <!-- Carrusel de fotos -->
    <div class="carrusel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://media.primicias.ec/2019/12/30123125/IESS-edificio-3-WEB.jpg" class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.iess.gob.ec/image/image_gallery?uuid=9a015258-0e04-4f9e-9063-9bcaf83832cc&groupId=10174&t=1615321251466"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E1BAQE_s-svb9TWJA/company-background_10000/0/1519798750045?e=2147483647&v=beta&t=_CNgGxzxPnE-BIJpSbVrfdQfPRwj4lQEAIhnZUm3N_E"
                        class="d-block w-100" alt="...">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <br>
    <!-- Vista de Tarejetas -->
    <div class="tarjetas">
        <div class="card p-3 mb-2 bg-success text-white" style="width: 18rem;">
            <img src="https://www.iess.gob.ec//images/tramites/cuenta_bancaria.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">REGISTRO CUENTA BANCARIA</h5>
                <p class="card-text">Registrar, actualizar y aprobar una cuenta bancaria personal para prestaciones del
                    IESS.</p>
            </div>
        </div>

        <div class="card p-3 mb-2 bg-success text-white" style="width: 18rem;">
            <img src="https://www.iess.gob.ec//images/tramites/historia_laboral.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HISTORIA LABORAL</h5>
                <p class="card-text">Brindar información de la historia laboral del afiliado.</p>
            </div>
        </div>

        <div class="card p-3 mb-2 bg-success text-white" style="width: 18rem;">
            <img src="https://www.iess.gob.ec//images/tramites/jubilacion_vejez.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">JUVILACIÓN POR VEJEZ</h5>
                <p class="card-text">Cumplir con el derecho a pensiones mensuales vitalicias a los afiliados.</p>
            </div>
        </div>

        <div class="card p-3 mb-2 bg-success text-white" style="width: 18rem;">
            <img src="https://www.iess.gob.ec//images/tramites/rol_pension.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ROL DE PENSIÓN JUBILADOS</h5>
                <p class="card-text">Información detallada de la mensualidad que acredita el IESS.</p>
            </div>
        </div>
    </div>
</body>

</html>